body{
    color: rgb(255, 254, 254);
    background-color: rgb(89, 53, 173);
    font-family: "Chakra Petch", sans-serif;
   margin: 50px;}

h1{font-size: 40px;}

p{font-size: 20px;}

header{
    border-bottom: solid 2px rgb(13, 41, 79);
    padding: 20px;
    font-size: 25px;
    color: rgb(18, 20, 18);}

.chamada{
    background: rgb(27, 22, 32);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}

img {
  height: 200px;
}

.categoriavideos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

section {
  padding-left: 20px;
  padding-right: 20px;
}

.categoriavideos img {
     opacity: 0.5;
}

.categoriavideos img:hover {
     opacity: 1.0;
}
